@model FordonViewModel

@{
    ViewData["Title"] = "Editera";
}

<h1 class="display-6">Ändra</h1>

<h4>Fordonsdetaljer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <select class="form-control" asp-for="FordonsTyp" asp-items="@Html.GetEnumSelectList<FordonsTyp>()"></select>
                <span asp-validation-for="FordonsTyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <input asp-for="RegNr" class="form-control" />
                <span asp-validation-for="RegNr" class="text-danger"></span>

            </div>
            @Html.Hidden("tidigareRegNr", Model.RegNr)
            <div class="form-group">
                <label asp-for="Farg" class="control-label"></label>
                <input asp-for="Farg" class="form-control" />
                <span asp-validation-for="Farg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marke" class="control-label"></label>
                <input asp-for="Marke" class="form-control" />
                <span asp-validation-for="Marke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modell" class="control-label"></label>
                <input asp-for="Modell" class="form-control" />
                <span asp-validation-for="Modell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntalHjul" class="control-label"></label>
                <input asp-for="AntalHjul" class="form-control" />
                <span asp-validation-for="AntalHjul" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btnAhlens mt-3" />
            </div>
        </form>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Index">Tillbaka till startsida</a>
</div>

@Html.Hidden(Model.RegNr, TempData["tidigareReg"])

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}