@model GarageOversiktViewModel

@{
    ViewData["Title"] = "Översikt";
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AntalLedigaPlatser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LedigaPlatser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.AntalLedigaPlatser)
            </td>
            <td>
                @Html.DisplayFor(model => model.LedigaPlatser)
            </td>
        </tr>
    </tbody>
</table>
<div class="mt-3">
    <a asp-action="Index">Tillbaka till startsida</a>
</div>