@using Garage.Web.Models.ViewModels
@model PersonIndexViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Member Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Filter" asp-controller="Person" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="LastName" placeholder="Sök via Efternamn" />
       
        <div class="input-group-append">
            <button type="submit" class="btn btnAhlens"><i class="fa fa-search">Sök</i></button>
        </div>
    </div>
</form>
<partial name="PersonListPartial" model="@Model.Members" />
