@using Garage.Web.Models.ViewModels
@model PersonIndexViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p class="alert-info"><strong>@TempData["OkFeedbackMsg"]</strong></p>

<p>
    <a asp-action="Create">Create new</a>
</p>
<form asp-action="Filter" asp-controller="Person" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="LastName" placeholder="Sök via Efternamn" />
       
        <div class="input-group-append">
            <button type="submit" class="btn btnAhlens"><i class="fa fa-search">Sök</i></button>
        </div>
    </div>
</form>

<form asp-action="Index" asp-controller="Person" method="get">
    <div class="input-group mb-3">
        <input type="number" class="form-control" asp-for="PageSize" placeholder="Select pagesize" />

        <div class="input-group-append">
            <button type="submit" class="btn btnAhlens"><i class="fa fa-search">Change</i></button>
        </div>
    </div>
</form>
<partial name="PersonListPartial" model="@Model.Members" />

@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
       class="btn btn-default">
        Next &raquo;
    </a>
}
