@model VehiclesOverviewViewModel
@inject IVehicleTypeSelectListService service

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Vehicle To Your Account</a> |
    <a asp-action="ParkExisting">Park Existing Vehicle</a> |
    <a asp-action="CreateVehicleType">Add New VehicleType</a>
</p>

<p>Nr of free spots</p>
<p>@Model.FreeSpots</p>

<form asp-action="Filter" asp-controller="Vehicles" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="LicenseNr" placeholder="Search on license number" />
        <div class="input-group-append">
            <select class="form-control" asp-for="VehicleTypeId" asp-items="@service.GetVehicleTypes()">
                <option selected="selected" value="">Choose vehicle</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btnAhlens"><i class="fa fa-search">Search</i></button>
        </div>
    </div>
</form>

<partial name="_VehiclesPartial" model="@Model.ParkedVehiclesViewModel" />

