html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    color: #df1b12;
}

a:hover {
    color: darkgrey;
}

.header-bg {
    background-color: #df1b12;
}

.btnAhlens {
    background-color: #df1b12;
    color: white;
}

.btnAhlens :hover {
    color: darkgrey;
}

p {
    margin: 0;
}

nav .navbar-nav li a {
    color: #ffff !important;
}

nav .navbar-nav li a:hover {
    color: #B0B0B0 !important;
}